/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.menu{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
a:hover{
    background-color: rgb(51, 50, 50);
    border-radius: 20px;
}
.dropdown-menu{
    font-size: 15px;
}
body{
    background-color: antiquewhite;
   
}
.guardar{
    
    align-items: center;
}
.formulario{
    max-width: 400px;
    background-color: rgb(149, 149, 143);
    border-radius: 10px;
    border: solid 4px rgb(51, 50, 50);
}