/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.menu{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
a:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.dropdown-menu{
    font-size: 15px;
}
body{
    background-color: antiquewhite;
}